root = true

[*]
indent_style = space
trim_trailing_whitespace = true

[*.json]
indent_size = 4
insert_final_newline = false
charset = utf-8

[*.{csproj,props,targets,nuspec,config}]
indent_size = 2
charset = utf-8-bom

[*.cs]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

dotnet_remove_unnecessary_suppression_exclusions = category: ReSharper

dotnet_diagnostic.NUnit1002.severity = none
dotnet_diagnostic.NUnit1021.severity = none
dotnet_diagnostic.NUnit1028.severity = none
dotnet_diagnostic.NUnit1032.severity = warning
dotnet_diagnostic.NUnit2001.severity = none
dotnet_diagnostic.NUnit2002.severity = none
dotnet_diagnostic.NUnit2003.severity = none
dotnet_diagnostic.NUnit2004.severity = none
dotnet_diagnostic.NUnit2005.severity = none
dotnet_diagnostic.NUnit2006.severity = none
dotnet_diagnostic.NUnit2010.severity = warning
dotnet_diagnostic.NUnit2011.severity = warning
dotnet_diagnostic.NUnit2015.severity = none
dotnet_diagnostic.NUnit2016.severity = none
dotnet_diagnostic.NUnit2017.severity = none
dotnet_diagnostic.NUnit2018.severity = none
dotnet_diagnostic.NUnit2019.severity = none
dotnet_diagnostic.NUnit2020.severity = warning
dotnet_diagnostic.NUnit2021.severity = warning
dotnet_diagnostic.NUnit2023.severity = warning
dotnet_diagnostic.NUnit2027.severity = none
dotnet_diagnostic.NUnit2028.severity = none
dotnet_diagnostic.NUnit2029.severity = none
dotnet_diagnostic.NUnit2030.severity = none
dotnet_diagnostic.NUnit2031.severity = none
dotnet_diagnostic.NUnit2032.severity = none
dotnet_diagnostic.NUnit2033.severity = none
dotnet_diagnostic.NUnit2034.severity = none
dotnet_diagnostic.NUnit2035.severity = none
dotnet_diagnostic.NUnit2036.severity = none
dotnet_diagnostic.NUnit2037.severity = none
dotnet_diagnostic.NUnit2038.severity = none
dotnet_diagnostic.NUnit2039.severity = none
dotnet_diagnostic.NUnit2040.severity = warning
dotnet_diagnostic.NUnit2041.severity = warning
dotnet_diagnostic.NUnit2042.severity = warning
dotnet_diagnostic.NUnit2043.severity = warning
dotnet_diagnostic.NUnit2045.severity = none
dotnet_diagnostic.NUnit2048.severity = none
dotnet_diagnostic.NUnit2049.severity = none
dotnet_diagnostic.NUnit2050.severity = none
dotnet_diagnostic.NUnit2051.severity = none
dotnet_diagnostic.NUnit2052.severity = none
dotnet_diagnostic.NUnit2053.severity = none
dotnet_diagnostic.NUnit2054.severity = none
dotnet_diagnostic.NUnit4001.severity = warning